name: Build EOPF container (julia base)

on: workflow_dispatch


jobs:
  build-jupyterlab-image:
    runs-on: ubuntu-latest
    steps:
      # Check out the code from the repository
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Make sure buildx is used
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Setup Docker
        run: |
          # Downgrade to Docker 28.0.1 or earlier
          sudo apt install --allow-downgrades -y \
            docker-ce=5:28.0.1-1~ubuntu.24.04~noble \
            docker-ce-cli=5:28.0.1-1~ubuntu.24.04~noble
            
      # Log in to EOPF Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://harbor.user.eopf.eodc.eu/
          username: ${{ secrets.HARBOR_ROBOT_USER }}
          password: ${{ secrets.HARBOR_ROBOT_PWD }}


      # Build and push image
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: harbor.user.eopf.eodc.eu/jupyterdask/julia-base:latest
          file: eopf-jupyterlab/eopf-jupyterlab-julia-base.dockerfile
